<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-10">
                <h3>Perfil</h3>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <form class="card" novalidate [formGroup]="usuarioForm">
        <div class="card-header">
            <h4 class="card-title mb-0">Mis datos</h4>
            <div class="card-options"><a class="card-options-collapse" href="#" data-toggle="card-collapse"
                    data-original-title="" title=""><i class="fe fe-chevron-up"></i></a><a class="card-options-remove"
                    href="#" data-toggle="card-remove" data-original-title="" title=""><i class="fe fe-x"></i></a></div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group mb-3">
                        <label class="form-label">Nombres</label>
                        <input class="form-control" type="text" formControlName="nombre"required  [(ngModel)]="usuarioDetalle.usuarioNombres" placeholder="Nombres" data-original-title="" title="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group mb-3">
                        <label class="form-label">Apellidos</label>
                        <input class="form-control" type="text" formControlName="apellidos"required  placeholder="Apellidos" [(ngModel)]="usuarioDetalle.usuarioApellidos" data-original-title="" title="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-12">
                    <div class="form-group mb-3">
                        <label class="form-label">Institucion</label>
                        <input class="form-control" type="text"  placeholder="Institucion" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuarioDetalle.usuarioInstitucion" data-original-title="" title="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group mb-3">
                        <label class="form-label">Correo</label>
                        <input class="form-control" type="email" formControlName="correo" required placeholder="Correo" [(ngModel)]="usuarioDetalle.usuarioCorreo" data-original-title="" title="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group mb-3">
                        <label class="form-label">Foto</label>
                        <input class="form-control" type="file" (change)="selectMiniatura($event)">
                    </div>
                </div>
                <input class="form-control" type="hidden" formControlName="foto" required placeholder="Correo" [(ngModel)]="usuarioDetalle.usuarioFoto" data-original-title="" title="">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input class="form-control" type="password" formControlName="password"  placeholder="Password" [(ngModel)]="usuarioDetalle.usuarioPassword" data-original-title="" title="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group mb-3">
                        <img class="col-lg-6" src="{{usuarioDetalle.usuarioFoto}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary"  [disabled]="usuarioForm.invalid" data-original-title="" title="" (click)="actualizaFoto()">Actualizar perfil</button>
        </div>
    </form>
</div>