<div class="page-wrapper landing-page"></div>
<div class="page-wrapper landing-page">
    <div class="landing-home">
        <ul class="decoration">
            <li class="one"><img class="img-fluid" src="./assets/images/landing/decore/1.png" alt=""></li>
            <li class="two"><img class="img-fluid" src="./assets/images/landing/decore/2.png" alt=""></li>
            <li class="three"><img class="img-fluid" src="./assets/images/landing/decore/4.png" alt=""></li>
            <li class="four"><img class="img-fluid" src="./assets/images/landing/decore/3.png" alt=""></li>
            <li class="five"><img class="img-fluid" src="./assets/images/landing/2.png" alt=""></li>
            <li class="six"><img class="img-fluid" src="./assets/images/landing/decore/cloud.png" alt=""></li>
            <li class="seven"><img class="img-fluid" src="./assets/images/landing/2.png" alt=""></li>
        </ul>
        <div class="container-fluid">
            <div class="sticky-header">
                <header>
                    <nav class="navbar navbar-b navbar-trans navbar-expand-xl fixed-top nav-padding"
                        id="mainNav"><a class="navbar-brand p-0" href="#"><img class="img-fluid"
                                src="./assets/images/landing/landing_logo.png" alt=""></a>
                        <button class="navbar-toggler navabr_btn-set custom_nav" type="button"
                            data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault"
                            aria-expanded="false"
                            aria-label="Toggle navigation"><span></span><span></span><span></span></button>
                        <div class="navbar-collapse justify-content-end collapse hidenav" id="navbarDefault">
                            <ul class="navbar-nav navbar_nav_modify" id="scroll-spy">
                                <li class="nav-item"><a class="nav-link" href="#inicio">Inicio</a></li>
                                <li class="nav-item"><a class="nav-link" href="#cursos">Cursos</a></li>
                                <li class="nav-item buy-btn"><a class="nav-link js-scroll" href="/login"
                                       >Ingresar</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="content">
                        <div>
                            <h1 class="wow fadeIn">Cursos online </h1>
                            <h1 class="wow fadeIn">completamente gratis</h1>
                            <h2 class="txt-secondary wow fadeIn">+ de 100 cursos</h2>
                            <p class="mt-3 wow fadeIn">Variados cursos de tecnologia, medicina, educacion,
                                filosofia, psicologia, arquitectura y muchos mas</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="wow fadeIn"><img class="screen1" src="./assets/images/landing/screen1.jpg" alt="">
                    </div>
                    <div class="wow fadeIn"><img class="screen2" src="./assets/images/landing/screen2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-space cuba-demo-section layout" id="cursos">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 wow pulse">
                    <div class="cuba-demo-content mt50">
                        <div class="couting">
                            <p>Cursos sobre...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">

                    <div class="col-lg-3 col-sm-6 wow fadeIn">
                        <h5>Categoria </h5>
                        <div class="img-effect">
                            <div class="mb-3 text-left"><a class="btn btn-primary btn-air-primary ml-2"
                                    href="http://angular.pixelstrap.com/cuba/" target="_blank"> </a><a
                                    class="btn btn-secondary btn-air-secondary f-right" href="layout-rtl.html"
                                    target="_blank"> </a></div><a href="theme/index.html" target="_blank"><img
                                    class="img-fluid cuba-img" src="assets/images/landing/layout/light.jpg"
                                    alt=""></a>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <footer class="footer-bg">
        <div class="container">
            <div class="landing-center ptb50">
                <div class="title"><img class="img-fluid" src="./assets/images/landing/landing_logo.png" alt="">
                </div>
            </div>
        </div>
    </footer>
</div>
